<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
    http://www.springframework.org/schema/aop   
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/cache  
	http://www.springframework.org/schema/cache/spring-cache-3.2.xsd">

	<!--自动扫描含有@Service将其注入为bean -->
	<context:component-scan base-package="com.leweiyou.cache" />
	
	<import resource="redis-spring.xml"/>
	
	<!-- 缓存配置 -->
	<!-- 自定义cache主键生成策略 -->  
	<bean id="baseKeyGenerator" class="com.leweiyou.cache.BaseKeyGenerator" />
	<!-- 启用缓存注解功能(请将其配置在Spring主配置文件中) -->
	<cache:annotation-driven cache-manager="cacheManager" key-generator="baseKeyGenerator" />
	
   <!-- ehCache 配置管理器 -->
	<bean id="ehcacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation" value="classpath:ehcache.xml" />
		<!--true:单例，一个cacheManager对象共享；false：多个对象独立 -->
		<property name="shared" value="true" />
		<property name="cacheManagerName" value="ehcacheManager" />
	</bean>

	<!-- ehCache 操作对象 -->
	<bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
		<property name="cacheName" value="ehcache" />
		<property name="cacheManager" ref="ehcacheManager" />
	</bean>

	<!-- Spring自己的基于java.util.concurrent.ConcurrentHashMap实现的缓存管理器(该功能是从Spring3.1开始提供的) -->
	<bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">
		<property name="caches">
			<set>
				<bean class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean">
					<property name="name" value="map"/>
				</bean>
				<bean class="org.springframework.cache.ehcache.EhCacheCache" >
					<constructor-arg index="0" ref="ehcache" />
				</bean>
				<bean class="com.leweiyou.cache.redis.RedisCache">    
		            <property name="redisTemplate" ref="jedisTemplate" />    
					<property name="name" value="redis"/>
	            </bean>
			</set>
		</property>
	</bean>

</beans>
